header{
  background-image: url("../images/universe.jpg");
  background-repeat: repeat-x;
  height:446px;
  margin-bottom: 0.5rem;
}

.box{
  margin:0.5rem;
}

.articleContent{
  margin:auto;
  width:90%;
}

.articleAbout{

}

.articleProjects{

}

.articleMeet{

}

.articleBlog{

}

.aboutLeft{
  background-color: gray;

}
