body {
  font-family: 'Fira Sans', sans-serif;
}

.font{
  font-family: 'Fira Sans', sans-serif;
}

header{
  background-image: url("../images/universe.jpg");
  background-repeat: repeat-x;
  height:446px;
  margin-bottom: 0.5rem;
}

.smallheader{
  background-image: url("../images/universe.jpg");
  background-repeat: repeat-x;
  height:200px;
  margin-bottom: 0.5rem;
}

footer{
  background-image: url("../images/universe.jpg");
  background-repeat: repeat-x;
  height:150px;
}

.headerStars{
  background-image: url("../images/stars.png");
  background-size: auto  446px ;
  background-repeat: repeat-x;
  position: relative;
  height: 446px;
}

.headerEarth{
  position: absolute;
  left:0;
  right:0;
  top:5rem;
  display: block;
  width: 30%;
  margin: auto;
}

.smallheaderEarth{
  position: absolute;
  left:0;
  right:0;
  top:2rem;
  display: block;
  width: 15%;
  margin: auto;
}


.headerMoon{
  position: absolute;
  left:7rem;
  top:4rem;
  width:15%;
}
.box{
  margin:0.5rem;
}

.articleProjects section:nth-child(3){
  margin: auto;
}

.projectBox{
  margin: 0.5rem;
}

.articleContent{
  margin:auto;
  margin-bottom: 0.5rem;
  width:90%;
}

.articleAbout{

}

.articleProjects{

}

.articleMeet{

}

.articleBlog{

}

.articleMeetBlog{

}

.columnLeft{
  background-color: gray;

}

.columnRight{
  background-color: yellow;
}

.footerLink {
  margin: 1em;
  display: inline-block;
  padding: 1em;
  padding-right: 1em;
  padding-left: 1em;
  color: white;
}
.footerSvg {
  margin-right: 1em;
  width: 1em;
  vertical-align: middle;
}

.footerFacebook {
  border-style: solid;
  border-color: white;
  margin-top: 1rem;
}
.footerTwitter {
  border-style: solid;
  border-color: white;
  margin-top: 1rem;
}
.footerGithub {
  border-style: solid;
  border-color: white;
  margin-top: 1rem;
}

.footerYoutube {
  border-style: solid;
  border-color: white;
  margin-top: 1rem;
}
